<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunny.whiteboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".register.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".register.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SideBarActivity"
            android:label="@string/title_activity_side_bar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ClassesActivity"
            android:label="@string/title_activity_classes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProjManagementActivity"
            android:label="@string/title_activity_proj_management"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MessagesActivity"
            android:label="@string/title_activity_messages"
            android:theme="@style/AppTheme" />
        <activity android:name=".NewProjectActivity" />
        <activity android:name=".ProjectViewActivity" />
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:parentActivityName=".ProjManagementActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sunny.whiteboard.ProjManagementActivity" />
        </activity>
    </application>

</manifest>